$bgPrimary:#E4E4E4;
$bgSecondary:#D8E1DC;
$bgThird:#E9D4CD;
$bgForth:#555759 ;
$accentPrimary:#FFFFFF;
$accentSecondary:#D8E1DC;
$accentThird:#E9D4CD;
$textPrimary:#555759;
$font:"Segoe UI",Arial, sans-serif;