<div class="Header">
    <a href="#" class="logo">
        <img src="images/logo.png" alt="">
    </a>
    <div class="links">
        <a href="#" class="link">WHAT WE DO</a>
        <a href="#" class="link">NEWS & EVENTS</a>
        <a href="#" class="Icon phone"></a>
        <a href="" class="ButtonGreen">BOOK</a>
        <a href="#" class="Icon messenger"></a>
        <a href="#" class="link">MESSENGER</a>
        <div href="" class="lang">
            <a href="#" class="active">EN</a>
            <a href="#" >RU</a>
        </div>
    </div>
</div>